<h3 style="color:white; padding-bottom: 10px">{{viewTitle}}</h3>
<form  action="/mahasiswa" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{mahasiswa._id}}">
    <div class="form-group">
        <label style="color:white;">Nama</label>
        <input type="text" class="form-control" name="name" placeholder="Nama Lengkap..." value="{{mahasiswa.name}}">
        <div class="text-danger">
            {{mahasiswa.fullNameError}}
        </div>
    </div>
    <div class="form-group">
        <label style="color:white;">NIM</label>
        <input type="text" class="form-control" name="nim" placeholder="NIM..." value="{{mahasiswa.nim}}">
        <div class="text-danger">
            {{mahasiswa.nimError}}
        </div>
    </div>
    <div class="form-group">
        <label style="color:white;">Jurusan</label>
        <input type="text" class="form-control" name="jurusan" placeholder="Jurusan..." value="{{mahasiswa.jurusan}}">
        <div class="text-danger">
            {{mahasiswa.nimError}}
        </div>
    </div>
    <div class="form-group">
        <label style="color:white;">Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email..." value="{{mahasiswa.email}}">
        <div class="text-danger">
            {{mahasiswa.emailError}}
        </div>
    </div>
    <div class="form-group">
        <label style="color:white;">Nomor HP</label>
        <input type="text" class="form-control" name="nohp" placeholder="Nomor HP..." value="{{mahasiswa.nohp}}">
        <div class="text-danger">
            {{mahasiswa.nohpError}}
        </div>
    </div>
    <div class="form-group" style="padding-top:10px">
        <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i> Kirim</button>
        <a class="btn btn-secondary" href="/mahasiswa/list"><i class="fa fa-eye"></i> Lihat Data</a>
    </div>
</form>